<!DOCTYPE html>
<html>
<head>
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
<title>Page Title</title>
</head>
<body>
<label>Bus Stop ID</label>
<input type ="text" id="busStopId" >
<button id ="btn" >Get Bus</button>
<div>
    <table>
  <thead>
    <tr>
      <th>Bus Service NO </th>
      <th>Arrival Time 1</th>
       <th>Arrival Time2</th>
       <th>Arrival Time3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id="one"></td>
      <td id="two"></label></td>
    </tr>

  </tbody>

</table>
</div>
</body>
<script>

$('#btn').click(function() {
    var pay_load = $('#busStopId').val()?$('#busStopId').val():alert('pls fill the required field');
    if(pay_load){
        $.ajax({
            url: '/analytics/test/',
            method: 'post',
            dataType: 'json',
            data:pay_load,
            success: function(data){
              console.log('succes: '+data+data['status_code']);

              if(data['status_code'] ==404|| data['status_code'] ==500){
                 alert(data['msg']);
               }
               else{
                    $("table tbody").empty()
                      for (i = 0; i < data['Services'].length; i++) {
                        console.log(data['Services'][i]['Operator']+" "+data['Services'][i]['ServiceNo']+" "+data['Services'][i]['NextBus']['EstimatedArrival']+" "+(data['Services'][i]).toString());
                        let date = new Date();
                        let time = date.toTimeString();
                        var row = "<tr><td><label>"+data['Services'][i]['ServiceNo']+"</label>"+"</td><td>" +"<label>"+((data['Services'][i]['NextBus']['EstimatedArrival']).split("T")[1])+"</label>" + "</td>"+"<td>" +"<label>"+((data['Services'][i]['NextBus2']['EstimatedArrival']).split("T")[1])+"</label>" +"<td>"+"<td>" +"<label>"+((data['Services'][i]['NextBus3']['EstimatedArrival']).split("T")[1])+"</label>" +"<td>"+"</tr>";
                        $("table tbody").append(row);

                        }
                }
            }
        });
    }
});

</script>
</html>