<!DOCTYPE html>
<html>
<head>
    <style>
      /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous">

</script>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<title>Page Title</title>
</head>
<body>
<label >Bus Stop ID</label>
<input type ="text" id="busStopId" class="form-control">
<button id ="btn" class="btn btn-primary">Get Bus</button>
<h3>My Google Maps Demo</h3>
    <!--The div element for the map -->
    <!--<div id="map"></div>-->

    <!--<script async defer-->
    <!--src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmdg4mNEzPBlBptbCrzPFJ_0oR8gC-lt8&callback=initMap">-->
    <!--</script>-->
<div>
    <table class="table">
  <thead>
    <tr>
      <th>Bus Service NO </th>
      <th>Arrival Time 1</th>
       <th>Arrival Time2</th>
       <th>Arrival Time3</th>
    </tr>
  </thead>
  <tbody>

  </tbody>

</table>
</div>
</body>
<script>


$('#btn').click(function() {
    var pay_load = $('#busStopId').val()?$('#busStopId').val():alert('pls fill the required field');
    if(pay_load){
        $.ajax({
            url: '/analytics/test/',
            method: 'post',
            dataType: 'json',
            data:pay_load,
            success: function(data){
              console.log('succes: '+data+data['status_code']);
              if(data['status_code'] ==404|| data['status_code'] ==500){
                 alert(data['msg']);
               }
               else{
                    $("table tbody").empty()
                      for (i = 0; i < data['Services'].length; i++) {
                        console.log(data['Services'][i]['Operator']+" "+data['Services'][i]['ServiceNo']+" "+data['Services'][i]['NextBus']['EstimatedArrival']+" "+(data['Services'][i]).toString());
                        let date = new Date();
                        let time = date.toTimeString();
                        var row = "<tr><td><label>"+data['Services'][i]['ServiceNo']+"</label>"+"</td><td>" +"<label>"+((data['Services'][i]['NextBus']['EstimatedArrival']).split("T")[1])+"</label>" + "</td>"+"<td>" +"<label>"+((data['Services'][i]['NextBus2']['EstimatedArrival']).split("T")[1])+"</label>" +"<td>"+"<td>" +"<label>"+((data['Services'][i]['NextBus3']['EstimatedArrival']).split("T")[1])+"</label>" +"<td>"+"</tr>";
                        $("table tbody").append(row);

                        }
                }
            }
        });
    }
});

</script>
</body>
</html>
